ul.head li {
	display: inline;
	margin-right: 5px;
	padding: 3px;
}
ul.head {
	margin: 0;
    padding: 4px;
}

ul.messages {
	list-style-type: none;
}
.error {
	font-weight: bold;
	color: red;
} 

.success {
	font-weight: bold;
	color: green;
}
td {
	text-align: center;
	padding-right: 3px;
	padding-left: 3px;
}
a#balance {
	color: black;
}
input#input_balance {
	width: 50px;
}