@font-face {
	font-family: 'Roboto';
	src: url("../font/Roboto.ttf") format("truetype");
	src: url("../font/Roboto.woff") format("woff");
	src: url("../font/Roboto.woff2") format("woff2");

}
body {
	font-family: 'Roboto';
	min-width: 640px;
}
ul.head li {
	display: inline;
	margin-right: 5px;
	padding: 3px;
}
ul.head {
	margin: 0;
    padding: 4px;
}

ul.messages {
	list-style-type: none;
}
.error {
	font-weight: bold;
	color: red;
} 

.success {
	font-weight: bold;
	color: green;
}
td {
	text-align: center;
	padding-right: 3px;
	padding-left: 3px;
}
a#balance {
	color: black;
}
input#input_balance {
	width: 50px;
}
label, .form {
	display: block;
	margin-bottom: 5px;
}
button, input[type=submit] {
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
	padding: 5px 4px !important;
	cursor: pointer;
}
button.main, input[type=submit] {
	margin-bottom: 10px;
	width: 150px;
	height: 30px;
	border-color: #aaa;
}
.dataTables_wrapper .dataTables_filter input, input[type=text], input[type=search], textarea {
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 5px;
}
.dataTables_wrapper .dataTables_length select, select {
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 5px;
	background-color: transparent;
	padding: 4px;
}
button.main:hover, button.main:active, input[type=submit]:hover, input[type=submit]:active {
	background-color: #dfdfdf;
}
button.edit {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 80px;
}
button.delete {
	width: 80px;
}
button.green {
	color: #fff;
	background-color: #00a65a;
	border-color: #008d4c;
}
button.green:hover, button.green:active {
	background-color: #008d4c;
}
button.red {
	color: #fff;
	background-color: #dd4b39;
	border-color: #d73925;
}
button.red:hover, button.red:active {
	background-color: #c9302c;
	border-color: #ac2925;
}
.dataTables_length {
	margin-bottom: 5px !important;
}
.dataTables_filter {
	margin-bottom: 5px !important;
}
div.index_table {
	max-width: 1200px;
}
small {
	color: gray;
}
h2.logo {
	color: gray;
	display: inline;
	margin-right: 5px;
	font-weight: bold;
}
@media screen and (max-width: 640px) {
	body {
		text-align: center;
		clear: both;
	}
}