{% extends "base.html" %}
{% block content %}
<h1>Добавить запись</h1>
<form action="" method="post" name="log_add">
    {{form.hidden_tag()}}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="messages">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <p>
        <label>Дата:</label> {% if form.date.errors[0] %}<span class="form error">{{ form.date.errors[0] }}</span>{% endif %}
        {{form.date(placeholder='yyyy-mm-dd')}}
    </p>
    <p>
        <label>Сумма:</label> {% if form.cost.errors[0] %}<span class="form error">{{ form.cost.errors[0] }}</span>{% endif %}
        <small class="form">Укажите отрицательное значение, если подразумевается расход</small>
        {{form.cost()}} ₽
    </p>
    <p>
        <label>Пояснение:</label> {% if form.description.errors[0] %}<span class="form error">{{ form.description.errors[0] }}</span>{% endif %}
        {{form.description()}}
    </p>
    <p>
        <label>Группа:</label> {% if form.group.errors[0] %}<br><span class="form error">{{ form.group.errors[0] }}</span>{% endif %}
        {{form.group()}}
    </p>
    <p>{{form.balance}} <label style="display: inline;" for="balance">Влияет на баланс</label>
    <small class="form">Добавить/отнять сумму от общего баланса</small></p>
    <p><input type="submit" value="Добавить"></p>
</form> 
{% endblock %} 
 
