{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="log_edit">
    {{form.hidden_tag()}}
    <p>
        <label>Дата:</label> {% if form.date.errors[0] %}<span class="form error">{{ form.date.errors[0] }}</span>{% endif %}
        {{form.date(placeholder='yyyy-mm-dd')}}
    </p>
    <p>
        <label>Сумма:</label> {% if form.cost.errors[0] %}<span class="form error">{{ form.cost.errors[0] }}</span>{% endif %}
        <small class="form">Укажите отрицательное значение, если подразумевается расход</small>
        {{form.cost()}} {{user.currency}}
    </p>
    <p>
        <label>Пояснение:</label> {% if form.description.errors[0] %}<span class="form error">{{ form.description.errors[0] }}</span>{% endif %}
        {{form.description(placeholder="Не обязательно")}}
    </p>
    <p>
        <label>Группа:</label> {% if form.group.errors[0] %}<span class="form error">{{ form.group.errors[0] }}</span>{% endif %}
        {{form.group()}}
    </p>
    <p><input type="submit" value="Сохранить"></p>
</form>
{% endblock %} 
{% block extrajs %}
<script>
$(document).ready(function() {
    date = new DateTime($('#date'), {
        format: 'YYYY-MM-DD'
    });
} );
</script>
{% endblock %}