{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="auth">
    {{form.hidden_tag()}}
    <p>
        <label>Логин:</label> {% if form.username.errors[0] %}<span class="form error">{{ form.username.errors[0] }}</span>{% endif %}
        {{form.username()}}
    </p>
    <p>
        <label>Пароль:</label> {% if form.password.errors[0] %}<span class="form error">{{ form.password.errors[0] }}</span>{% endif %}
        {{form.password()}}<br>
        <input onchange="pw_change_visiblity('password');" id="pw_visible" type="checkbox"><label for="pw_visible" style="display: inline"> Показать пароль</label>
    </p>
    <p>{{form.remember_me}} <label style="display: inline;" for="remember_me">Запомнить меня</label></p>
    <p><input type="submit" value="Войти"></p>
</form> 
{% endblock %} 
{% block extrajs %}
<script src="/static/js/pw_visibility.js"></script>
{% endblock %}