{% extends "base.html" %}
{% block content %}
<form class="mx-auto col-lg-6" method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
        <label for="username">Логин:</label>
        {{form.username(class="form-control")}}
        {% if form.username.errors[0] %}<div class="alert alert-danger mt-2" role="alert">{{ form.username.errors[0] }}</div>{% endif %}
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label> 
        {{form.password(class="form-control")}}
        {% if form.password.errors[0] %}<div class="alert alert-danger mt-2" role="alert">{{ form.password.errors[0] }}</div>{% endif %}
        <input class="mr-1 mt-2" onchange="pw_change_visiblity('password');" id="pw_visible" type="checkbox"><label for="pw_visible"> Показать пароль</label>
    </div>
    <div class="form-group">{{form.remember_me()}} <label for="remember_me">Запомнить меня</label><br>
    <a href="{{url_for('register')}}">Нет аккаунта?</a>
    </div>
    <button type="submit" class="btn btn-primary mx-auto">Войти</button>
    <a href="{{url_for('auth')}}?guest=1" class="btn btn-secondary mx-auto">Войти как Гость</a>
</form> 
{% endblock %} 
{% block extrajs %}
<script src="/static/js/pw_visibility.js"></script>
{% endblock %}