{% extends "base.html" %}
{% block content %}
<h2>{% if user.is_authenticated == True %}Добро пожаловать {{user.username}}, ваш баланс 
	<a href="#" id="balance">{{user.balance}}</a>
	<input id="input_balance" width="50px" hidden value="{{user.balance}}">
	 ₽{% else %}Вы не авторизованы{% endif %}</h2>
<div class="index_table">
<button class="main" onclick="location.href='{{ url_for('log_add') }}'">Добавить запись</button>
<table>
<tbody>
<h4>Сортировать по дате</h4>
<p>От: <input type="text" id="min" name="min">  До: <input type="text" id="max" name="max"></p>
</tbody>
</table>
<table id="index_table" class="display hover compact dt-center" border="1">
	<thead>
		<tr>
			<th width="180px">Дата</th>
			<th width="180px">Группа</th>
			<th>Пояснение</th>
			<th width="200px">Сумма</th>
			<th width="180px">Действия</th>
		</tr>
	</thead>

</table>
</div>
{% endblock %}
{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
	var minDate, maxDate;
	 
	// Custom filtering function which will search data in column four between two values
	$.fn.dataTable.ext.search.push(
	    function( settings, data, dataIndex ) {
	        var min = minDate.val();
	        var max = maxDate.val();
	        var date = new Date( data[0] );
	 
	        if (
	            ( min === null && max === null ) ||
	            ( min === null && date <= max ) ||
	            ( min <= date   && max === null ) ||
	            ( min <= date   && date <= max )
	        ) {
	            return true;
	        }
	        return false;
	    }
	);
	 
	$(document).ready(function() {
	    // Create date inputs
	    minDate = new DateTime($('#min'), {
	        format: 'YYYY-MM-DD'
	    });
	    maxDate = new DateTime($('#max'), {
	        format: 'YYYY-MM-DD'
	    });
	 
	    // DataTables initialisation
		var table = $('#index_table').DataTable({
		 	responsive: true,
		 	ajax: {
		 		url: "{{url_for('log_get')}}",
			 	dataSrc: function ( json ) {
			    	for ( var i=0, ien=json.length ; i<ien ; i++ ) {
			    		if(json[i][2] == '') {
			    			json[i][2] = '<i>Отсутствует</i>';
			    		}
			    		if(json[i][3] < 0) {
			    			var color = "error";
			    		} else {
			    			var color = "success";
			    		}
			    		json[i][3] = "<span class=\""+color+"\">"+json[i][3]+" ₽</span>";
			    		json[i][4] = "<td><button class=\"green edit\" onclick=\"location.href='/log/edit/"+json[i][4]+"'\">Изменить</button> <button class=\"red delete\" onclick=\"if(confirm('Удалить запись?')){location.href='/log/delete/"+json[i][4]+"'}\">Удалить</button></td>";
			    	}
			      	return json;
		    	}
		    },
		    columnDefs: [
			    { orderable: false, targets: [2,4] }
			],
			autoWidth: true,
			order: [[0, "desc"]],
	 		oLanguage: { "sUrl": "/static/js/datatable/ru.json" },
	 	});
	 
	    // Refilter the table
	    $('#min, #max').on('change', function () {
	        table.draw();
	    });


	    let bal = document.getElementById('balance');
		let bal_input = document.getElementById('input_balance');
		function input_hide() {
			let balance = Number(bal_input.value);
			if(bal.innerHTML != balance && !isNaN(balance) && balance >= 0) {
				$.ajax({
			    	url: "{{url_for('user_balance_edit')}}",
			    	dataType: "json",
			    	async: true,
			    	type: "POST",
			    	data: {balance: balance},
			    	success: function(data) {
			    	    if(data['status'] == "success") {
			    	        bal.innerHTML = balance;
			    	        table.ajax.reload();
			    	    } else if(data['status'] == "fail") {
			    	        bal_input.value = bal.innerHTML;
			    	    } else if(data['status'] == "unauthorized") {
			    	        window.reload();
			    	    }
			    	}
				});
			} else {
				bal_input.value = bal.innerHTML;
			}
			bal.hidden = false;
			bal_input.hidden = true;
			bal_input.blur();
		}
		function input_show() {
			bal.hidden = true;
			bal_input.hidden = false;
			bal_input.focus();
			bal_input.addEventListener("blur", input_hide, once=true);
		}
		bal.addEventListener("click", input_show);
	});
</script>
{% endblock %}