{% extends "base.html" %}
{% block content %}
<h1>Главная</h1>
<h2>{% if user.is_authenticated == 1 %}Добро пожаловать {{user.username}}, ваш баланс 
	<a href="#" id="balance">{{user.balance}}</a>
	<input id="input_balance" width="50px" hidden value="{{user.balance}}">
	 ₽{% else %}Вы не авторизованы{% endif %}</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="messages">
        {% for category, message in messages %}
        	<li class="{{ category }}">{{ message }}</li>
    	{% endfor %}
    </ul>
    {% endif %}
{% endwith %}
<button class="main" onclick="location.href='{{ url_for('log_add') }}'">Добавить запись</button>
{% if logs %}
<div class="index_table">
<table id="index_table" class="display hover compact" border="1">
	<thead>
		<tr>
			<th width="180px">Дата</th>
			<th width="180px">Группа</th>
			<th>Пояснение</th>
			<th width="200px">Сумма</th>
			<th width="180px">Действия</th>
		</tr>
	</thead>
	<tbody>
		{% for item in logs %}
		<tr><td>{{ item.timestamp }}</td><td title="{{ groups[item.group_id][1] }}">{{ groups[item.group_id][0] }}</td><td>{% if item.description %}{{ item.description }}{% else %}<i>Отсутствует</i>{% endif %}</td><td><span class="{% if item.cost < 0 %}error{% else %}success{% endif %}">{{ item.cost }} ₽</span></td><td><button class="green edit" onclick="location.href='{{ url_for('log_edit', id_ = item.id) }}'">Изменить</button> <button class="red delete" onclick="if(confirm('Удалить запись?')){location.href='{{ url_for('log_del', id_ = item.id) }}'}">Удалить</button></td></tr>
		{% endfor %}
	</tbody>
</table>
</div>
	{% else %}
	<h3>Тут ещё ничего нет</h3>
	{% endif %}
{% endblock %}
{% block extrajs %}
<script>
$(document).ready( function () {
 	$('#index_table').DataTable({
 		// responsive: true,
 		order: [[0, "desc"]],
 		oLanguage: { "sUrl": "/static/js/datatable/ru.json" }
 	});
} );
</script>
<script>
	let bal = document.getElementById('balance');
	let bal_input = document.getElementById('input_balance');
	function input_hide() {
		let balance = Number(bal_input.value);
		if(bal.innerHTML != balance && !isNaN(balance) && balance >= 0) {
			$.ajax({
		    	url: "{{url_for('user_balance_edit')}}",
		    	dataType: "json",
		    	async: true,
		    	type: "POST",
		    	data: {balance: balance}
			});
			bal.innerHTML = balance;
		} else {
			bal_input.value = bal.innerHTML;
		}
		bal.hidden = false;
		bal_input.hidden = true;
		bal_input.blur();
	}
	function input_show() {
		bal.hidden = true;
		bal_input.hidden = false;
		bal_input.focus();
		bal_input.addEventListener("blur", input_hide, once=true);
	}
	bal.addEventListener("click", input_show);
</script>
{% endblock %}