{% extends "base.html" %}
{% block content %}
<div class="text-center col-lg-6 mx-auto mb-5">
	<img class="img-fluid rounded-circle" src="{% if user.avatar %}/static/avatars/{{user.avatar}}{% else %}/static/img/user.png{% endif %}">
	<form id="avatar_change" enctype="multipart/form-data" method="post">
	<h4 class="mt-2 mb-0">Изменить аватар</h4>
	<div class="form-group col-lg-8 mx-auto">
		<small class="text-muted form-text">Не более 40МБ</small>
		{{form.hidden_tag()}}
		{% if form.file.errors[0] %}<div class="alert alert-danger mt-2" role="alert">{{ form.file.errors[0] }}</div>{% endif %}
		<div class="custom-file">
		  <input type="file" class="custom-file-input" name="file" id="file">
		  <label class="custom-file-label text-left" for="file">Выбрать файл</label>
	</div>
	</div>
	<input type="submit" class="btn btn-primary mb-5" value="Загрузить" />
	</form>
	<div id="profile_info">
		<h3>Логин: {{user.username}}</h3>
		<h4>
			<p>ID: {{user.id}}</p>
			<p>Email: <span id="text_email"><span id="user_email">{{user.email}}</span> <button class="btn btn-outline-secondary btn-sm" onclick="email_prechange()">Изменить</button></span><input type="text" id="change_email" style="display: none;" placeholder="email@example.com"></p>
			<p>Дата регистрации: {{user.registered}}</p>
			<p>Валюта: <select class="form-control col-sm-2 col-lg-1 d-inline" onchange="change_currency(this.value)">
				{% for n in user.currency_list %}
					<option value="{{n}}"{% if n == user.currency %} selected{% endif %}>{{n}}</option>
				{% endfor %}
				}
			</select></p>
		</h4>
		<button class="btn btn-danger" data-toggle="modal" data-target="#delete_account">Удалить аккаунт</button>
		<a class="btn btn-secondary" href="/profile/changepass">Сменить пароль</a>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>
<script>
	function change_currency(currency) {
		$.ajax({
			url: "{{url_for('change_currency')}}",
			dataType: "json",
			async: true,
			type: "POST",
			data: {currency: currency},
			success: function(data) {
			    location.reload();
			}
		});
	}
</script>
<script>
function email_change(e_input, e_text) {
		var email = String(e_input.value.toLowerCase());
		if(email === null || email === undefined || email === '') {
			e_input.value = '';
			return 0;
		}
		if(email == e_text.innerHTML) {
			e_input.value = '';
			return 0;
		}
		$.ajax({
			url: "{{url_for('change_email')}}",
			dataType: "json",
			async: true,
			type: "POST",
			data: {email: email},
			success: function(data) {
			    if(data["status"] == "success") {
			    	e_text.innerHTML = email;
			    	e_input.value = '';
			    	createMessage("Email изменён", "success");
			    } else {
			    	e_input.value = '';
			    	createMessage(data['description'], "danger");
			    }
			}
		});
	}

	function email_prechange() {
		var e_input = $('#change_email');
		var e_text = $('#text_email');
		e_input.show();
		e_text.hide();
		e_input.focus();
		e_input[0].addEventListener("blur",
			function() {
				e_input.hide();
				e_text.show();
				email_change(e_input[0], $('#user_email')[0]);
			}, {once:true});
	}
</script>
{% endblock %}
{% block extramodals %}
<div class="modal fade" id="delete_account" tabindex="-1" role="dialog" aria-labelledby="delete_account_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_account_title">Удаление аккаунта</h5>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить аккаунт? Это действие нельзя отменить!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет, я передумал</button>
        <button type="button" onclick="location.href = '/profile/delete'" class="btn btn-danger" data-dismiss="modal">Да, я уверен</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}