{% extends "base.html" %}
{% block content %}
<form class="mx-auto col-lg-6" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="username">Логин:</label>
        {{ form.username(class="form-control") }}
        {% if form.username.errors[0] %}<div class="alert alert-danger mt-2" role="alert">{{ form.username.errors[0] }}</div>{% endif %}
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        {{ form.email(class="form-control") }}
        {% if form.email.errors[0] %} <div class="alert alert-danger mt-2" role="alert">{{ form.email.errors[0] }}</div>{% endif %}
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        {{ form.password(class="form-control") }}
        {% if form.password.errors[0] %}<div class="alert alert-danger mt-2" role="alert">{{ form.password.errors[0] }}</div>{% endif %}
    </div>
    <div class="form-group">
        <label for="password2">Повторите пароль:</label>
        {{ form.password2(class="form-control") }}
        {% if form.password2.errors[0] %}<div class="alert alert-danger mt-2" role="alert">{% endif %}
        <input class="mr-1 mt-2" onchange="pw_change_visiblity('password');pw_change_visiblity('password2');" id="pw_visible" type="checkbox"><label for="pw_visible"> Показать пароль</label><br>
        <a href="{{url_for('auth')}}">Уже есть аккаунт?</a>
    </div>
    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    <a href="{{url_for('index')}}" class="btn btn-secondary mx-auto">Войти как Гость</a>
</form> 
{% endblock %}
{% block extrajs %}
<script src="/static/js/pw_visibility.js"></script>
{% endblock %} 
