{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="register">
    {{ form.hidden_tag() }}
    <p>
        <label>Логин:</label> {% if form.username.errors[0] %}<span class="form error">{{ form.username.errors[0] }}</span>{% endif %}
        {{ form.username() }}
    </p>
    <p>
        <label>Email:</label> {% if form.email.errors[0] %} <span class="form error">{{ form.email.errors[0] }}</span>{% endif %}
        {{ form.email() }}
    </p>
    <p>
        <label>Пароль:<label> {% if form.password.errors[0] %}<span class="form error">{{ form.password.errors[0] }}</span>{% endif %}
        {{ form.password() }}
    </p>
    <p>
        <label>Повторите пароль:</label> {% if form.password2.errors[0] %}<span class="form error">{{ form.password2.errors[0] }}</span>{% endif %}
        {{ form.password2() }}<br>
        <input onchange="pw_change_visiblity('password');pw_change_visiblity('password2');" id="pw_visible" type="checkbox"><label for="pw_visible" style="display: inline"> Показать пароль</label>
    </p>
    <p><input class="register" type="submit" value="Зарегистрироваться"></p>
</form> 
{% endblock %}
{% block extrajs %}
<script src="/static/js/pw_visibility.js"></script>
{% endblock %} 
